*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 30px;

  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 50px;
    border-color: black 2px;

    input {
      padding: 5px 10px;
    }

    button {
      padding: 8px 15px;
      width: 120px;
      cursor: pointer;
    }
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px
  }

  .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      background: #f2f2f2;
      border: 2px solid #444;
      cursor: pointer;
      transition: background 0.2s;
      user-select: none;

      &:hover {
        background: #e0e0e0;
      }

      .mark-img {
        width: 70%;
        height: 70%;
        object-fit: contain;
        pointer-events: none;
      }

    }
  
  .message {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
